<section class = "home_content" ng-controller="HomeController">
  <div class="jumbotron text-center">
    <br>
    <img src = "/modules/core/client/img/brand/aqua-hack-logo.png">
    <br>
    <div class="row" style = 'padding-top: 20px;padding-bottom: 20px'>
      <p class="lead">
        Data Portal for AquaHack 2016 Participants
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/authentication/signup" target="_blank">Sign Up To Access Datasets Now!</a>
      </p>
      <span>
      Already Have An Account? <a href = '/authentication/signin'>Log In Here </a>
      </span>
    </div>
  </div>
  <div class="row text-center" style = "padding-top: 20px;padding-bottom: 30px">
    <h2>Sponsored By</h2>
  </div>
  <div class="row">
    <div class ="col-lg-4 col-md-4 col-sm-4">
      <img src = "/modules/core/client/img/brand/cwa-logo.png">
    </div>
    <div class ="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src = "/modules/core/client/img/brand/digitalc-logo.png" style = 'height:65px;width: 160px;align-content: center;'>
    </div>
    <div class ="col-lg-4 col-md-4 col-sm-4">
      <img src = "/modules/core/client/img/brand/bluemix-logo.png">
    </div>
  </div>
</section>
